*
{
  box-sizing: border-box;
  font-family: serif;
}

body 
{
  background: linear-gradient(135deg,rgb(0,0,100,1),rgb(0, 0, 25));
}
#root {
  display: flex;
  flex-flow: column;
  width: 100vw;
  max-width: 100vw;
  height: max(100vh,100%);
  max-height: max(100vh,100%);
  margin: 0 auto;
  padding: 0 1.5%;
  text-align: left;
}

.stuDiv {
  display: flex;
  flex-flow: column;
  margin: 25px 10px;
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
  padding: 2%;
  width: 50%;
  max-width: 50%;
  height: auto;
}
  .stuDiv *
  {
    margin:  0;
    color: black;
  }
